.nav{
   grid-area: n;
   background-color:rgb(62, 87, 187);
 }
 .list{
  margin-top: 10px;
 }
 .item{
  padding: 0 0 5px 10px;
 
 }
 .item a{
  color:black;
 }
 .item:last-child{
  padding-top: 10px;
 }
 .item a.active{
  color:gold;
 }