*{padding:0;margin:0;border:0;}
ul li{list-style:none;}
a,a:visited{text-decoration:none;}
input,button,textarea{font-family:inherit;}
button{cursor:pointer;}
a:hover{text-decoration:none;}
a:focus,a:active{outline:none;}

.app__wrapper{
  max-width: 1200px;
  margin: 0 auto;
  display: grid;

  grid-template-areas: 
  "h h"
  "n w";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}
.wrapp__profile{
  grid-area: w;
  background-color:rgb(224, 87, 107);
}
.app__wrapper button{
  display: block;
  height: 25px;
  border-radius: 10px;
}
.app__wrapper button:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8); 
}
.app__wrapper textarea{
  background-color:bisque;
  width: 70%;
  height: 50px;
  border-radius: 5px;
  padding-left: 5px;
}


